# macOS nonsense
.DS_Store

# NPM
/node_modules

# Plugin relases
/release
/dist

# Composer
/vendor

# Cypress
/cypress/screenshots/
/cypress/videos/
/cypress.env.json

# Intermediate JS files
/js/*.js
/js/*.map

# But permit final JS files
!/js/*.min.js
!/js/*.min.js.map
