# macOS nonsense
.DS_Store

# NPM
/node_modules

# Plugin relases
/release
/dist

# Composer
/vendor

# PHPUnit
.phpunit.result.cache

# Playwright
/playwright-report/
/test-results/
/artifacts/storage-states/
