<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="tests">
			<directory suffix="-test.php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
